<div class="links_container">
    <%=link_to 'Back to stores', stores_path, class: "links"%>
</div>
<div class="container">
    <div class="form_inner_container">
        <h3 class="banner">Add a new store</h3>

        <%= render partial: "stores/form",locals:{store: @store} %>
    </div>
</div>