<div class="links_container">
    <%=link_to 'Back', 'javascript:history.back()', class: "links"%>
</div>
<div class="store_show_container container">
    <div class="inner_container">
        <%= render partial: "stores/store", locals: {store: @store} %>
    </div>
</div>